
@{
    ViewBag.Title = "ContactStartUpPage";
}


<h3 id="AboutMessage">@ViewBag.Message</h3>

<address>
    Apolloniou 16b<br />
    Athens, 118 52<br />
    Greece <br />

    <abbr title="Phone">P:</abbr>
    6993128869
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@PlayTeamOne.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@PlayTeamOne.com</a>*@
</address>