
@{

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>BookOne</h1>
    <p class="lead"></p>
    <p>User : @Session["userID"].ToString(); RoleType : @Session["roleType"].ToString();</p>
</div>

